<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>to do list</title>
<body>
      <section>
        <center> <img src="images/umaru.gif" width="500" height="300"> </center>
            <form action="/register" method="POST">
              <div class="container">
                <div class="row justify-content-center">

                  <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                      <div class="col text-center">
                        <h1>To Do List</h1>
                      </div>
                    </div>
                    <% if( typeof(errors) != 'undefined') { %>
                      <center><h5 style="color:red"> <div class="alert alert-danger"><%= errors %></div> </h5></center>
                     <% }%>
                    <div class="form-group">
                      <label for="username">Username: </label>
                      <input type="username" name="username" class="form-control" id="username" placeholder="Enter Username"  required>
                  </div>
                  <div class="form-group">
                      <label for="password">Password: </label>
                      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required> 
                  </div>
                  <div class="form-group">
                      <label for="password">Confirm Password: </label>
                    <input type="password" name="passwordConfirmation" class="form-control" id="passwordConfirmation" placeholder="Confirm Password" required> 
                </div>
                    <div class="row justify-content-start mt-4">
                      <div class="col ">
                        <center><input type="submit" class="btn btn-success mt-4"></center>
                      </div>
                    </div><center><br><a href='/'>Login Here</a></center>
                  </div>
              </div>
          </form>
      </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>